Repository itsAnimation/AnimateItNow, pull requests merged in 2025-07, with the labels that each got.

#67 Added Countdown timer template
  script.js
  styles.css
  templates.html
  templates/timer.html
Labels: gssoc25, level2

#65 Added list group and improved styles in styles.css
  index.html
  styles.css
Labels: gssoc25, level1

#64 feat: A new feature
  contributors.html
  script.js
  styles.css
  templates.html
  templates/404.html
  templates/Testinomials_Sliders.html
  templates/card_hover.html
  templates/profile_card.html
Labels: gssoc25, level3

#68 Fix: Template gallery visibility in dark mode
  templates.html
Labels: enhancement, gssoc25, level2

#104 Fixed Issue #58
  contact.html
  contributors.html
  images/bgdark.png
  index.html
  styles.css
  templates.html
Labels: enhancement, gssoc25, level2

#100 glassmorphism
  templates.html
  templates/glassmorphism.html
Labels: gssoc25, level1

#162 ✨ Enhance Cursor with Blue Gradient Snake Trail Animation
  contact.html
  contributors.html
  index.html
  script.js
  styles.css
  templates.html
Labels: enhancement, gssoc25, level3

#167 Added Glowing hover button on Hover page
  templates/button.html
Labels: gssoc25, level2

#175 Improve theme toggle experience with smooth transitions 🎨
  images/bgdark.png
  styles.css
Labels: gssoc25, level2

#181 conflicts resolve and animate site name
  contact.html
  contributors.html
  index.html
  styles.css
  templates.html
  templates/button.html
  templates/loader.html
  templates/login.html
  templates/modal.html
Labels: gssoc25, level1

#198 Add footer animations and icons
  index.html
  styles.css
Labels: enhancement, gssoc25, level1

#205 Fix: Footer layout issue on mobile view
  styles.css
Labels: gssoc25, level2

#192 Fix: Template section headings are now visible in dark mode
  styles.css
Labels: gssoc25, level1

#251 ✨ Added feature: Neuromorphic-button effects
  templates.html
  templates/neumorphic.html
  templates/social-share-buttons.html
Labels: enhancement, gssoc25, level2

#221 Fix: Correct GitHub Contributors API Endpoint for Live Data
  script.js
Labels: gssoc25, level2

#257 Add navbar variants template
  templates.html
  templates/navbar.html
Labels: gssoc25, level2

#248 fixed the issue
  styles.css
Labels: good first issue, gssoc25, level1

#245 Added updated login UI templates with animations
  templates/login.html
Labels: gssoc25, level2

#182 Added placeholders in contact form fields
  contact.html
Labels: gssoc25, level1

#342 Added the Price Plan Template
  templates.html
  templates/price_plan.html
Labels: gssoc25, level3

#313 GitHub Icon Vissible Now
  index.html
Labels: level1

#302 Fix: Update footer background to match dark mode aesthetics
  styles.css
Labels: enhancement, gssoc25, level1

#298 Add improve contact page
  contact.html
  styles.css
Labels: enhancement, level1

#280 Added CONTRIBUTING.md with detailed guide
  CONTRIBUTING.md
Labels: documentation, gssoc25, level2

#277 Update Request for AnimateItNow
  index.html
Labels: gssoc25, level1

#216 Adding About page
  .github/workflows/auto-comment.yml
  about.html
  contact.html
  contributors.html
  index.html
  styles.css
  templates.html
Labels: gssoc25, level2

#158 enhancement : add copy-to-clipboard button to code snippets
  templates/feature.html
  templates/hero.html
  templates/login.html
Labels: gssoc25, level2

#135 Update index.html
  index.html
Labels: gssoc25, level1

#399 fixed the github icon near toggle button
  index.html
Labels: gssoc25, level1

#392 Update styles.css
  styles.css
Labels: gssoc25, level1

#285 Updated UI and UX of the navbar
  .DS_Store
  contact.html
  contributors.html
  index.html
  script.js
  styles.css
  templates.html
Labels: gssoc25, level2

#376 added Search Functionality in Template Gallery
  templates.html
Labels: gssoc25, level2

#383 💎 Improve Contact Card UI in Dark Mode with Neon Glow and Glass Effect
  styles.css
Labels: gssoc25, level2

#411 Fix contact form submission behaviour and enhance submit button UI
  script.js
  styles.css
Labels: gssoc25, level2

#409 fixed footer alignment
  styles.css
Labels: gssoc25, level1

#405 UI Enhancement: Glassmorphism Contact Form with Neon animation effect
  styles.css
Labels: gssoc25, level1

#417 Added more designs and show code button in glassmorphism profile card
  .github/workflows/greet.yml
  glassmorphismstyle.css
  templates/glassmorphism.html
Labels: gssoc25, level2

#421 Added display properties card
  templates.html
  templates/display.html
Labels: gssoc25, level3

#413 Added animated hover button
  styles.css
  templates.html
  templates/animated-btn.html
Labels: gssoc25, level2

#432 Add FAQ Collapsible Functionality with Smooth Animation
  index.html
  script.js
  styles.css
Labels: gssoc25, level2

#327 Added navbar templates
  templates.html
  templates/navbar_tempates.html
Labels: gssoc25, level2

#359 improve contact in mob
  styles.css
Labels: gssoc25, level2

#385 Add testimonials section
  images/user1.jpg
  images/user2.jpg
  images/user3.jpg
  images/user4.jpg
  images/user5.jpg
  images/user6.jpg
  index.html
  styles.css
Labels: gssoc25, level2

#467 Add Leaderboard button to navbar
  index.html
Labels: enhancement, gssoc25, level2

#476 Feature/animation
  styles.css
Labels: gssoc25, level1

#472 Improved loader visibility by adding a container with blur effect
  templates/loader.html
Labels: gssoc25, level2

#329 Added Accordion Style FAQ Section + Expandable Code
  templates.html
  templates/faq_acc.html
  templates/navbar.html
Labels: gssoc25, level2

#509 feature:flip cardss, wavy background and typing text animation
  templates.html
  templates/Flip.html
  templates/Side.html
  templates/Type-animation.html
  templates/Wave.html
Labels: gssoc25, level2

#514 Designed leaderboard page with responsiveness and functionality
  contact.html
  contributors.html
  leaderboard.html
  templates.html
Labels: gssoc25, level3

#523 Snake curl
  about.html
  contact.html
  contributors.html
  script.js
  templates.html
Labels: gssoc25, level2

#512 Added label to snake-cursor toggle
  index.html
  styles.css
Labels: enhancement, gssoc25, level1

#494 ✨ 🎨 UI Enhancement: Templates Page with Neon Glow & Dark Mode Support
  styles.css
  templates.html
Labels: gssoc25, level1

#524 Fixed FAQ bug .
  index.html
Labels: gssoc25, level1

#531 Added A New Toggle Name Orbit Flip
  templates/toggles-and-checkboxes.html
Labels: gssoc25, level1

#184 Add Animated Social Share Buttons Component
  index.html
  styles.css
  templates/social_share_buttons.html
Labels: gssoc25, level1

#536 🔥 Enhance Contributors Page UI with Glassmorphism effect, Neon Animation in light and dark mode.
  styles.css
  templates.html
Labels: gssoc25, level1

#542 Adding a SANDBOX feature
  index.html
  sandbox.html
  script.js
  templates.html
  templates/display.html
Labels: gssoc25, level3

#537 Enhance tooltip feature
  templates/tooltip.html
Labels: gssoc25, level3

#573 about and templates make active on clicking and dark mode icon visible
  about.html
  templates.html
Labels: gssoc25, level2

#609 Added a new template in glassmorphism profile card
  templates/glassmorphism.html
Labels: gssoc25, level2

#600 [PR] [Feature]: Add Real-Time Code Editor to Try Animation Templates
  editor.css
  editor.html
  editor.js
  index.html
Labels: gssoc25, level2

#625 Fix/footer style
  contact.html
  contributors.html
  templates.html
Labels: gssoc25, level2

#594 ✨ Add 'Why Choose AnimateItNow?' section with benefit cards to About Page
  about.html
Labels: gssoc25, level2

#638 Fixed the glitches from contact,templates & contributors page
  contributors.html
  styles.css
  templates.html
Labels: gssoc25, level3

#660 Fixed the navbar issue on templates page
  templates.html
Labels: gssoc25, level2

#650 🚀Enhance Contributors Page UI with Glassmorphism and Dark Mode Support
  contributors.html
  styles.css
  templates.html
Labels: gssoc25, level2

#670 Created a message and styling for no templates found.
  styles.css
  templates.html
Labels: gssoc25, level1

#353 Added link to the Project Admin's name on hover
  index.html
  styles.css
Labels: gssoc25, level1

#570 Fixed spinner loader size issue
  templates/loader.html
Labels: gssoc25, level2

#684 added accordian template
  styles.css
  templates.html
  templates/accordian.html
Labels: gssoc25, level2

#715 Enhaced the loading effect, added point indication & minor fixes
  leaderboard.html
Labels: gssoc25, level2
