Repository itsAnimation/AnimateItNow, pull requests merged in 2025-09, with the labels that each got.

#1144 Feature/hover effects
  README.md
  playground.html
  styles.css
Labels: gssoc25, level2

#1142 Feat: CSS Snippet Generator
  generator.css
  generator.html
  generator.js
  templates.html
Labels: gssoc25, level3

#863 ✨ Added copy-to-clipboard feature to button.html for easier code access
  templates/button.html
Labels: gssoc25, level2

#919 Added animated checkbox template
  templates.html
  templates/checkboxes.html
Labels: gssoc25, level2

#897 Created AI Assistant with Voice Input and Improved UI
  .vscode/settings.json
  about.html
  ai-assistant/index.html
  ai-assistant/script.js
  ai-assistant/styles.css
  index.html
Labels: enhancement, gssoc25, level3

#1217 Fix: search-icon was misplaced, fixed now
  leaderboard.html
Labels: gssoc25, level3

#1221 🛠️ Update: Add Names and Photos in Testimonials Section
  images/amn.jpg
  index.html
  script.js
  styles.css
Labels: gssoc25, level2

#1220 Fix: Login here(in signup dialog box) redirects to Login page now.
  signup.html
Labels: gssoc25, level3

#1222 🛠️ Fix: FAQ Toggle Functionality Issue
  script.js
  styles.css
Labels: gssoc25, level2

#1226 🛠️ Pull Request: Enhanced FAQ Functionality and Accessibility
  index.html
Labels: gssoc25, level3

#1086 Navbar Mobile Responsiveness
  index.html
  package-lock.json
  script.js
  styles.css
Labels: gssoc25, level2

#1229 Fix footer alignment and layout
  index.html
  styles.css
Labels: gssoc25, level3

#1232 🛠️ Pull Request: Standardize Navbar Across Templates
  templates/accordian.html
  templates/button.html
  templates/card_hover.html
  templates/modal.html
  templates/tooltip.html
Labels: gssoc25, level3

#1233 Fixed gradient text CSS for cross-browser compatibility
  styles.css
Labels: gssoc25, level3

#1238 Standardize Button Component System Across Project
  contact.html
  styles.css
  templates.css
  templates.html
  templates/animated-btn.html
  templates/button.html
  templates/hamburger-menu.html
Labels: gssoc25, level3

#1240 Fix: Added functionality for Forgot Password and Register links in login template
  templates/LoginFormGlassMorphism.html
  templates/forgot-password.html
  templates/register.html
Labels: gssoc25, level2

#1247 Added workflow for autocomment on issues
  .github/workflows/issue-create-automate-message.yml
  .github/workflows/labeler.yml
Labels: gssoc25, level2

#1253 🏆 Leaderboard Page Fix & Enhancement
  leaderboard.html
Labels: gssoc25, level2

#1255 Contributor List Improvements and Fixes
  contributors.html
Labels: enhancement, gssoc25, level2

#1259 Editor HTML Page Improvements
  editor.html
  opaque_hover.html
Labels: gssoc25, level3

#1280 Fix: Footer Logo Not Displaying on Home Page
  index.html
Labels: gssoc25, level1

#1274 Hover Effects Page Redesign and Functionality Enhancement – Animate It Now
  playground.html
Labels: gssoc25, level3

#1154 Enhanced Text Effects Page: Interactive Cards with Code Snippets, Themed Copy Button & Pointer Cursors
  templates/text_effects_anim.html
Labels: gssoc25, level2

#1287 Fix: Footer Logo Not Displaying on Home Page
  index.html
Labels: gssoc25, level1

#1289 Fix: Leaderboard Page Logo Not Displaying
  leaderboard.html
Labels: gssoc25, level1

#1290 [BUG Fix] Style subscribe button in footer section properly.
  contributors.html
  index.html
Labels: enhancement, gssoc25, level3

#1294 Modified Templates from bugs
  templates.css
  templates.html
Labels: gssoc25, level3

#1282 Added documentation and performance files in issue template
  .github/ISSUE_TEMPLATE/documentation.txt
  .github/ISSUE_TEMPLATE/performance.txt
Labels: gssoc25, level1

#1312 docs: enhance documentation with setup instructions and preview guide…
  README.md
Labels: gssoc25, level2

#1316 Redesign the Cards on home page
  index.html
Labels: gssoc25, level2

#1322 Fixed the Templetes and the 404 file
  templates.html
  templates/404.html
Labels: gssoc25, level2

#1323 Added CSS snippet generator template card
  templates.html
Labels: gssoc25, level2

#1330 Header Component Redesign for Enhanced Navigation and UX
  leaderboard.html
Labels: gssoc25, level3

#1342 Load spinner added
  index.html
  templates/LoadingSpinner.html
Labels: gssoc25, level2

#1344 Fixed button transparency on index.html
  index.html
Labels: gssoc25, level1

#1351 Fix Missing Images on Landing Page 🖼️ (#1350)
  index.html
Labels: gssoc25, level1

#1347 fixed navBar of template page
  templates.css
  templates.html
Labels: gssoc25, level1

#1359 Improve Installation & Setup instructions in README
  README.md
Labels: gssoc25, level2

#1353 fix: update navbar design across pages
  about.html
  editor.html
  playground.html
  styles.css
  templates.css
Labels: gssoc25, level1

#1362 Navbar Hompage Spacing Resolved
  index.html
Labels: gssoc25, level2
