Repository itsAnimation/AnimateItNow, pull requests merged in 2025-08, with the labels that each got.

#757 Added the same navbar all over the templates
  styles.css
  templates/CardHoverEffects.html
  templates/LoginFormGlassMorphism.html
  templates/accordian.html
  templates/animated-btn.html
  templates/button.html
  templates/carousel.html
  templates/code_playground.html
  templates/display.html
  templates/feature.html
  templates/glassmorphism.html
  templates/hero.html
  templates/loader.html
  templates/login.html
  templates/modal.html
  templates/navbar.html
  templates/neumorphic.html
  templates/page_not_found_template.html
  templates/social-share-buttons.html
  templates/text_effects_anim.html
  templates/toggles-and-checkboxes.html
  templates/tooltip.html
Labels: gssoc25, level2

#737 🔧 Fix: Resolved FAQ Card Overlap Issue
  index.html
Labels: gssoc25, level1

#694 Add template for 2D CSS transforms
  templates/2d_transform.html
Labels: gssoc25, level3

#703 solved issue #680 -added privacy policy page
  privacy.html
Labels: gssoc25, level3

#704 Syntax highlighting
  templates.html
  templates/CardHoverEffects.html
  templates/LoginFormGlassMorphism.html
  templates/animated-btn.html
  templates/carousel.html
  templates/display.html
  templates/feature.html
  templates/glassmorphism.html
  templates/hero.html
  templates/loader.html
  templates/login.html
  templates/navbar.html
  templates/neumorphic.html
  templates/social-share-buttons.html
  templates/tooltip.html
Labels: gssoc25, level3

#775 ENHANCE : Change the alignment of headings
  styles.css
  templates.html
Labels: gssoc25, level1

#822 fixed footer of leaderboard.html
  leaderboard.html
Labels: gssoc25, level1

#812 Fix: Added missing hover effect to navbar on Templates and Leaderboard pages
  leaderboard.html
  templates.html
Labels: gssoc25, level1

#804 Fixed the horizontal scroll
  leaderboard.html
Labels: gssoc25, level1

#910 Functional hover Effect Section
  playground.html
  styles.css
Labels: gssoc25, level1

#898 [FIX]: #801 Logo Typing Animation Causes Layout Shift in Navbar
  styles.css
Labels: gssoc25, level1

#905 Revamp Contact Us page with modern template
  templates/contact.html
Labels: gssoc25, level2

#901 Feat: Enhance Header and Footer Navigation
  about.html
  contact.html
  contributors.html
  index.html
  leaderboard.html
  playground.html
  templates.html
Labels: gssoc25, level1

#808 fix: improve contrast in leaderboard section for better dark mode visibility
  leaderboard.html
Labels: gssoc25, level2

#935 Fully finished navbar title(Animate It Now) animation (#73)
  contact.html
  contributors.html
  index.html
  leaderboard.html
  styles.css
  templates.html
Labels: gssoc25, level2

#932 Added Dark Mode Support
  about.html
  contact.html
  contributors.html
  editor.css
  editor.html
  editor.js
  index.html
  leaderboard.html
Labels: gssoc25, level1

#974 Added contributors.js to display GitHub contributors dynamically
  contributors.html
  contributors.js
  package-lock.json
  script.js
Labels: gssoc25, level2

#969 Enhance Hero Section: Replace Fade-In Animation, Align Buttons, and Add Smooth Floating Effect
  index.html
  styles.css
Labels: gssoc25, level2

#967 Fix FAQ answers toggle and center title/subtitle
  .vscode/settings.json
  index.html
  script.js
  styles.css
Labels: gssoc25, level1

#965 Feat/footer dynamic year
  about.html
  contact.html
  contributors.html
  index.html
  leaderboard.html
  playground.html
  templates.html
Labels: gssoc25, level1

#959 ❤️Added Animated Like/Heart Button template
  templates.html
  templates/Like_Buttons.html
Labels: gssoc25, level2

#847 Added 10 designs and show code button in popup template
  templates/modal.html
Labels: gssoc25, level2

#948 Added quick preview on hover for template cards in the gallery.
  preview/3D-card-hover.png
  preview/accordian.png
  preview/animated-toggles.png
  preview/button-animation.png
  preview/card-carousel.png
  preview/celebrations.png
  preview/code-playground.png
  preview/contact-us.png
  preview/display-properties.png
  preview/features-card.png
  preview/hero-section.png
  preview/hover-button.png
  preview/loaders.png
  preview/login-glassmorphism.png
  preview/login-template.png
  preview/modal-popup.png
  preview/navbar-variants.png
  preview/neumorphic-buttons.png
  preview/page-404.png
  preview/professional.png
  preview/profile-glassmorphism.png
  preview/skeleton.png
  preview/social-buttons.png
  preview/text-animation.png
  preview/text-animation2.png
  preview/timers.png
  preview/tooltip.png
  styles.css
  templates.html
Labels: gssoc25, level2

#930 Animation of the logo is fixed
  script.js
  styles.css
  update-html-files.js
Labels: gssoc25, level2

#827 Updated four Animated toggles templates
  templates/toggles-and-checkboxes.html
Labels: gssoc25, level2

#837 ENHANCE : the alignment issue in bte heading of about page and home page
  styles.css
Labels: gssoc25, level1

#846 improve display propert section
  styles.css
  templates/display.html
Labels: gssoc25, level2

#925 UI Asthetics for Background
  index.html
  styles.css
Labels: gssoc25, level2
