Repository itsAnimation/AnimateItNow, pull requests merged in 2025-10, with the labels that each got.

#1380 Added scroll to top button
  editor.html
  index.html
  opaque_hover.html
Labels: gssoc25, level1

#1378 Enable users to mark templates as favorites
  templates.css
  templates.html
Labels: gssoc25, level3

#1397 Improve code organization and readability
  templates/quotes.html
  templates/tilt-card.html
  templates/timer.html
Labels: gssoc25, level3

#1383 Resized Stay Updated box to make everything Visible
  index.html
Labels: gssoc25, level2

#1402 Enhanced the homepage design consistency
  index.html
Labels: gssoc25, level2

#1405 Styled navbar for template page consistently.
  templates.css
  templates.html
Labels: gssoc25, level2

#1425 🚀 SEOBoost Agency Emoji UI Enhancement
  templates/sample-templates/marketing/index.html
Labels: gssoc25, level3

#1419 ✨ Cosmic Starfield Animation Enhancement
  background_templates/dark_starry_background.html
Labels: gssoc25, level3

#1427 🏥 MediCare Website Emoji UI Enhancement
  templates/sample-templates/med/index.html
Labels: gssoc25, level1

#1434 Enhancements and Shopping Experience Improvements
  templates/sample-templates/shopping/shopify.html
Labels: enhancement, gssoc25, level3

#1460 Enhanced CSS Generator with Advanced Styling Features
  generator.css
Labels: gssoc25, level2

#1415 Fix to inconsistent styled footer on contact us
  styles.css
Labels: gssoc25, level1

#1476 Fix: Enhanced Component Documentation System with Improved Performanc…
  components.js
Labels: gssoc25, level3

#1478 Fix: Enhanced CSS Styling System with Improved Variables and Organiza…
  components.css
Labels: gssoc25, level3

#1473 Navbar Uneven Issue Resolved
  about.html
  components.html
  contact.html
  contributors.html
  editor.html
  index.html
  leaderboard.html
  navbar_styles.css
  playground.html
  pomodoro.html
  templates.css
  templates.html
Labels: gssoc25, level2

#1480 Fix: Enhanced HTML Structure with Improved Documentation and Organiza…
  index.html
Labels: gssoc25, level2

#1468 Enh: Implemented pill-shaped, responsive, and themed UI for 'Stay Upd…
  index.html
Labels: gssoc25, level1

#1463 Fixed the footer on Templates page
  templates.css
Labels: gssoc25, level2

#1454 Update playground.html
  playground.html
Labels: gssoc25, level2

#1466 Update README.md
  README.md
Labels: gssoc25, level3

#1484 Fix: Refactor: Improve Readability and Comments Across Templates System
  templates.css
  templates.html
  templates.js
Labels: enhancement, gssoc25, level2

#1487 Fix: Refactor: Improve Readability and Comments Across Components and…
  components.html
  editor.html
  editor.js
Labels: bug, gssoc25, level3

#1490 enhanced the coming soon page
  leaderboard.html
  templates/Coming_Soon_Landing_Page.html
Labels: gssoc25, level2

#1510 🎨 CSS Variable Organization and JavaScript Naming Improvements
  templates.html
Labels: gssoc25, level3

#1506 🎨 CSS Structure Enhancement and Animation Improvements
  test_card_system.html
Labels: gssoc25, level3

#1456 Templates Of scrolling animations added
  templates/Animation.html
  templates/Animation.js
  templates/scrollingAnimations.html
Labels: gssoc25, level2

#1469 Fix: Ensured mobile navbar integrity by hiding desktop action buttons…
  index.html
Labels: gssoc25, level2

#1471 Add smooth color and text-shadow glow hover effect to nav links and Subtle Dynamic Gradient Mesh
  index.html
Labels: gssoc25, level2

#1474 Added new component animated grid-background
  components.js
Labels: gssoc25, level2

#1521 🎯 AI Assistant JavaScript Enhancement
  ai-assistant/script.js
Labels: gssoc25, level2

#1518 🎨 AI Assistant HTML Structure Enhancement
  ai-assistant/index.html
Labels: gssoc25, level1

#1523 🎯 404 Ping Pong Game Template Enhancement
  templates/404.html
Labels: enhancement, gssoc25, level2

#1533 Enhanced contact page
  contact.html
Labels: gssoc25, level2

#1462 Fix/download button allignment fix
  leaderboard.html
Labels: gssoc25, level1

#1557 ✨ Enhance CSS Organization & Developer Experience
  styles.css
Labels: gssoc25, level2

#1544 Redirect to Home
  index.html
Labels: gssoc25, level1
